* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    text-align: center;

}

.header,
.footer {
    background-color: red;
    color: white;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;

}

.footer {
    background-color: blue;
    margin-top: 10px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;

}

.sidebar {
    padding: 20px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.sidebar-1 {
    background-color: green;
    width: 18%;
}

.sidebar-2 {
    background-color: rgb(255, 92, 119);
    width: 18%;
}

.main-content {
    background-color: yellow;
    padding: 20px;
    flex-grow: 1;
    width: 55%;
    border-radius: 10px;

}

.header {
    margin-bottom: 10px;
}

/*  nhỏ hơn 1024px */
@media (max-width: 1024px) {
    .content {
        flex-direction: column;
        gap: 10px;
    }

    .sidebar-1,
    .sidebar-2,
    .main-content {
        width: 100%;
    }

    .footer {
        margin-top: 10px;
    }

    .header {
        margin-bottom: 10px;
    }
}